
.pi-box-shadow{

    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 5px rgba(0,0,0,0.42); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 5px rgba(0,0,0,0.42);

    /* -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 5px rgba(0,0,0,0.28); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 5px rgba(0,0,0,0.28); */
}
.stat{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 5px rgba(0,0,0,0.42); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 9px 5px rgba(0,0,0,0.42);
}